NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/seal?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/seal?schema=public"
RESEND_API_KEY=
CRON_SECRET=
NEXT_PUBLIC_ENABLE_DISCORD=false
NEXT_PUBLIC_ENABLE_GUIDED_QA=false
